* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  background-color: #521075;

}

h1 {
  color: antiquewhite;
  position: relative;
  text-align: center;
  font-size: 5em;
}

p {
  color: antiquewhite;
  position: relative;
  left:10em;
  bottom: 7em;
  font-size: 3em;
}

img {
  width: 30em;
  height: 100%;
  border: solid 2em antiquewhite;
  border-radius: 50% 13px 120%;
  border-left: antiquewhite;
  margin: 2em;
  position: relative;

}